main{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}

.container{
    max-width: 1440px;
    padding: 50px 75px 35px;
    grid-area: 
    "header header"
    "section section"
    "rodape rodape";
}


/* GRID-AREA */

.header{
    grid-area: header;
}

.section{
    grid-area: section;
}

.rodape{
    grid-area: rodape;
}

/* HEADER */

.header{
    display: flex;
    margin-bottom: 50px;
}

/* SECTION */

.section{
    display: flex;
    gap: 50px;
}

.section .mockups img{
    width: 770px;
}

.section .informacoes{
    margin-top: 50px;
}

.section .informacoes h1{
    font-size: 40px;
    color: #ffffff;
}

.section .informacoes p{
    font-size: 18px;
    font-family: open sans;
    color: #ffffff;
    margin: 30px 0;
    line-height: 30px;
}

.section .informacoes .btn{
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 10px;
    font-size: 16px;
    font-family: poppins;
    background-color: #ffffff;
    color: var(--primary-color);
    box-shadow: 5px 5px 10px hsl(257, 47%, 30%);
}

.section .informacoes .btn:hover{
    background-color: var(--secondary-color);
    color: #ffffff;
    cursor: pointer;
}


/* RODAPÉ */

.rodape .nav-icones{
    display: flex;
    justify-content: flex-end;
}

.rodape .nav-icones .lista-icones{
    display: flex;
    gap: 15px;
}

.rodape .nav-icones .lista-icones li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 18px;
    color: #ffffff;
}


.rodape .nav-icones .lista-icones li a:hover{
    color: var(--secondary-color);
    border: 1.5px solid var(--secondary-color);
}

